/* --- Basic Reset & Global Styles --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #333;
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    min-height: 100vh;
    padding: 20px;
}

/* --- Container Styles --- */
.container {
    max-width: auto;
    width: 100%;
    background-color: #ffffff;
    
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    text-align: center;
}

h1 {
    color: #0056b3;
    margin-bottom: 25px;
}

/* --- Input Field Styles --- */
.input-wrap {
    position: sticky;
    top: 0px;
    left: 50%;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    width: auto; 
    max-width: auto; 
    
}
.input-wrap .text {
    font-size: 18px;
    color: #0056b3;
    margin-bottom: 5px; 
}

#searchInput {
    width: 100%;
    max-width: auto;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none; 
    
}

#searchInput::placeholder {
    color: #aaa;
}

/* --- Image Gallery & Message Box Styles --- */
.canvas {
    margin-top: 20px;
}

.imagegallery {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 15px; 
    padding: 10px;
    justify-items: center;
    
}

.image-item {
    background-color: #eee;
    border-radius: 8px;
    overflow: hidden; /* ซ่อนส่วนเกินของรูปภาพ */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    display: flex; 
    justify-content: center;
    align-items: center;
    height: auto;
}

.image-item img {
    max-width: 100%;
    max-height: 100%; /* ทำให้รูปภาพไม่ล้นขอบ */
    object-fit: contain; /* ปรับรูปภาพให้พอดีโดยไม่ถูกตัด */
    display: block; /* ลบช่องว่างใต้รูปภาพ */
}

.message-box {
    padding: 20px;
    background-color: #f8d7da; /* สีแดงอ่อนสำหรับข้อความผิดพลาด */
    color: #721c24; /* สีข้อความ */
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-top: 20px;
    display: none; /* ซ่อนไว้เริ่มต้น */
}

.message-box.visible {
    display: block; /* แสดงเมื่อมีคลาส visible */
}
